src/AUTOEXEC.*
src/autoexec.map
src/languages.ini
src/*.d
src/c/dpr_data_t.c
src/c/settings_t.c
src/c/menu_order_t.c
src/simul/bin/
src/simul/obj/
src/simul/420D/
.vscode
src/.*
src/*.o
.DS_Store
output/
logs/
unused/
420D/
